.project {
  padding-top: 120px;

  &-heading {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 60px;
    }
  }
  &-title {
    color: $clr-primary;
    font-size: 70px;
    font-weight: 400;
    line-height: calc(76 / 70);
    font-family: $ff-secondary;
  }
  &-all {
    display: block;
    color: $clr-primary;
    font-size: 24px;
    font-weight: 400;
    line-height: calc(30 / 24);
    font-family: $ff-secondary;
  }
  &-main {
    display: block;
  }
  &-item {
    position: relative;
  }
  &-content {
    position: absolute;
    bottom: 65px;
    left: 170px;
  }
  &-name {
    color: $clr-secondary;
    font-size: 50px;
    font-weight: 500;
    line-height: calc(62 / 50);
  }
  &-details {
    display: block;
    font-size: 24px;
    line-height: calc(30 / 24);
    font-weight: 400;
    font-style: normal;
    color: $clr-secondary;
  }
}
.owl-nav {
  display: none;
}
.owl-dots {
  position: absolute;
  display: inline-block;
  bottom: 100px;
  right: 170px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px !important;
  height: 15px !important;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
